
.card-body p
{
    font-size: 45px
}

@media (min-width:320px)
{
.card-body 
{
    width:283px;
 
    
}

.card-body p
{
    font-size: 11px;
    margin-bottom: 1px;
}
.card-body label
{
    font-size: 8px;

    
}
.form-check
{
    height: 15px;
    min-height: 0;
    padding-right: 0;
    margin-bottom: 0px !important;
}


}
@media (min-width:481px)
{
    .card-body
{
    width:450px
}
.card-body p
{
    font-size: 17px;
}
.card-body label
{
    font-size: 11px;
}
.form-check
{
    height: 17px;
    min-height: 0;
    padding-right: 1.5em;
}


}
@media (min-width:769px)
{
    .card-body
{
    width:530px
}
.card-body p
{
    font-size: 20px;
    margin-bottom: 5px;
}
.card-body label
{
    font-size: 12px;
}
.form-check
{
    height: 18px;
    min-height: 0;
    padding-right: 1.5em;
}



}
@media (min-width:1025px)
{
    .card-body
{
    width:700px
}
.card-body p
{
    font-size: 18px;
    margin-bottom: 6px;
}
.card-body label
{
    font-size: 13px;
}
.form-check
{
    height: 19px;
    min-height: 0;
    padding-right: 1.5em;
}




}
@media (min-width:1201px)
{
    .card-body
{
    width:1500px
}
.card-body p
{
    font-size: 35px;
    margin-bottom: 10px;
}
.card-body label
{
    font-size: 20px;
    
}
.form-check
{
    height: 40px;
    min-height: 0;
    padding-right: 0;
    padding-right: 1.5em;
    margin-bottom: 2px;
}

}